html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* 👈 Bloquea la aparición de barras de scroll rebeldes */
    background-color: #050510;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}